.tech-stack ol {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 0;
}

.tech-stack ol li {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid var(--fg);
    border-radius: 15px;
    padding: .2em 1em;
    cursor: text;
    line-height: 1.2em;
    height: 1.2em;
    /* animation: float 5s ease-in-out infinite; */
}

.tech-stack li img {
    width: 1.2em;
    height: 1.2em;
    /* border-radius: 50%; */
    object-fit: contain;
    display: inline-block;
    vertical-align: bottom;
    margin-right: .5em;
    pointer-events: none;
    user-select: none;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(-2px);
    }
}

@media screen and (max-width: 700px) {
    .tech-stack ol {
        justify-content: space-around;
    }
}