.section {
    position: relative;
    transition: opacity ease .5s 0s, transform ease .5s .5s;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-bottom: 4rem;
    animation: section-entering ease 1.5s;
}

@keyframes section-entering {

    0%,
    20% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        pointer-events: initial;
        transform: translateX(0);
    }
}

#education-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.education-info {
    display: grid;
    grid-template-columns: 1fr 14ch 11ch;
    gap: 1.5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.education-info>span {
    text-align: right;
}

.education-info>span:first-child {
    text-align: left;
}

#back-button-wrapper {
    position: sticky;
    top: 0;
    padding: 0 0 1rem 0;
    z-index: 2;
    transition: background-color .4s, padding .2s;
}

#back-button-wrapper.slided {
    padding: 1rem 0;
    background-color: rgba(10, 10, 10, .8);
}

#back-button {
    width: 1rem;
    height: 1rem;
    /* transform: translateY(-2rem); */
    background-image: radial-gradient(circle, rgba(10, 10, 10, 1) 0%, rgba(201, 201, 201, 1) 200%);
    border-radius: 50%;
    box-sizing: content-box;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    opacity: .5;
    animation: fade-in ease 3s 0s 1, breath ease-in-out 1s 3s infinite alternate;
    transition: opacity ease-in-out .5s;
    user-select: none;
}

#back-button:hover {
    animation-play-state: paused;
    opacity: 1 !important;
}

@keyframes fade-in {

    0%,
    50% {
        opacity: 0;
    }

    100% {
        opacity: .4;
    }
}

@keyframes breath {
    0% {
        opacity: .4;
    }

    100% {
        opacity: .55;
    }
}

#back-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scaleX(-1);
    pointer-events: none;
}

.experience-list p {
    text-align: justify;
}

.experience-list li{
    margin-bottom: 2rem;
}

.experience-list img{
    width: 2rem;
    height: 1.2rem;
    object-fit: contain;
    display: inline-block;
    vertical-align: bottom;
}

.experience-list h4{
    display: inline;
    line-height: 1.2rem;
    height: 1.2rem;
    margin: .2rem 0 .2rem .5rem;    
}



@media screen and (hover: none) {
    .section {
        padding-top: 0;
    }

    #back-button-wrapper {
        position: fixed;
        top: unset;
        bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    #education-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    .education-info {
        display: grid;
        grid-template-columns: 1fr 9ch;
        text-align: left;
        gap: .2rem;
        column-gap: 1rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .education-info .points {
        order: 2;
    }

    .education-info .location {
        order: 3;
    }

    .education-info>span {
        text-align: left;
    }

    .education-info>span:nth-child(3) {
        text-align: right;
    }
}